.main_content_kv {
  position: relative;
  background: url(../images/main/main_kv.png) no-repeat center / cover;
  .main_content_kv_video.mo {
    display: none;
  }

  .main_content_kv_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "GmarketSans", "돋움", dotum, sans-serif;
    font-weight: 300;
    color: #fff;
    > .inner {
      width: 1520px;
      margin: 0 auto;
      padding-top: 450px;
      .title {
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -3.5px;
      }
      .desc {
        position: relative;
        margin-top: 24px;
        padding-top: 38px;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -1px;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 120px;
          border-bottom: 3px solid #ffff00;
        }
      }
    }
  }


}

@media screen and (max-width: 1199px) {
  .main_content_kv {
    .main_content_kv_video.pc {
      display: none;
    }
    .main_content_kv_video.mo {
      display: block;
    }
    .main_content_kv_cont {
      top: auto;
      bottom: 75px;
      height: auto;
      > .inner {
        width: auto;
        padding: 0 25px;
        .title {
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -1px;
        }
        .desc {
          position: relative;
          margin-top: 12px;
          padding-top: 19px;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: -1px;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            border-bottom: 2px solid #ffff00;
          }
        }
      }
    }
  }

}

/* main */
main.container {
  overflow: hidden;
}

.main_content {

  &.ty1,
  &.ty3,
  &.ty5 {
    .main_content_title {

      text-align: center;

      .title {
        font-family: "GmarketSans", "돋움", dotum, sans-serif;
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -2px;
        color: #2c74d7;
      }

      .desc {
        margin-top: 40px;
        font-weight: 200;
        font-size: 22px;
        line-height: 36px;

        .m {
          font-weight: 500;
        }
      }

    }
  }

  &.ty1 {
    padding: 150px 0;
    text-align: center;
  }

  &.ty2 {
    height: 750px;
    padding-top: 140px;
    text-align: center;
    background: url(../images/main/main_02_01.png) no-repeat center / auto 100%;

    .main_content_title {
      .title {
        font-family: "GmarketSans", "돋움", dotum, sans-serif;
        font-weight: 500;
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
        color: #2c74d7;

        small {
          display: block;
          padding-top: 10px;
          font-size: 30px;
          color: #56b1fe;
        }
      }
    }
  }

  &.ty3 {
    padding: 150px 0 0 0;
    text-align: center;
  }

  &.ty4 {
    height: 1150px;
    background: url(../images/main/main_04_01.png) no-repeat center / auto 100%;

    .main_content_title {
      width: 1520px;
      margin: 0 auto;
      padding-top: 250px;

      .title {
        font-family: "GmarketSans", "돋움", dotum, sans-serif;
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -5px;
        color: #558edb;
      }

      .desc {
        margin-top: 36px;
        font-weight: 200;
        font-size: 22px;
        line-height: 36px;
        color: #ccc;

        .m {
          font-weight: 500;
        }
      }

      .more {
        margin-top: 36px;

        a {
          display: inline-block;
          font-family: "GmarketSans", "돋움", dotum, sans-serif;
          font-weight: 500;
          font-size: 22px;
          line-height: 36px;
          color: #ccc;
        }
      }

    }
  }

  &.ty5 {
    padding: 150px 0;
  }

  &.ty6 {
    padding: 150px 0;
    background-color: #edeff7;
  }

}

/* main */

/* main */
.main_content_item01 {
  display: inline-flex;
  gap: 26px;
  max-width: 1518px;
  margin: 0 auto;
  margin-top: 80px;

  .item {
    position: relative;

    .item_cont {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 10px 40px 10px;
      color: #fff;

      .tit {
        display: block;
        font-family: "GmarketSans", "돋움", dotum, sans-serif;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -1.4px;
      }

      .text {
        display: block;
        padding-top: 24px;
        font-weight: 200;
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
}

.main_content_item02 {
  margin: 0 auto;
  margin-top: 80px;
  font-size: 0;
  text-align: center;

  .item {
    display: inline-block;
    vertical-align: top;
    width: 330px;
    padding-top: 120px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 180px auto;
    color: #fff;

    &.ty1 {
      background-image: url(../images/main/main_02_02.png);
    }

    &.ty2 {
      background-image: url(../images/main/main_02_03.png);
    }

    &.ty3 {
      background-image: url(../images/main/main_02_04.png);
    }

    &.ty4 {
      background-image: url(../images/main/main_02_05.png);
    }

    .tit {
      display: block;
      font-family: "GmarketSans", "돋움", dotum, sans-serif;
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: -1px;
    }

    .text {
      display: block;
      padding-top: 24px;
      font-weight: 200;
      font-size: 22px;
      line-height: 30px;
    }
  }
}

.main_content_item03_step1 {
  display: inline-flex;
  justify-content: center;
  max-width: 1570px;
  margin-top: 110px;

  .left {
    flex: none;
    width: 570px;
    padding-top: 37px;
    padding-right: 50px;
  }

  .right {
    flex: 1 1 0;
  }
}

.main_content_item03_step1_left {
  text-align: left;
  padding-left: 58px;

  .thumb {
    font-size: 0;
  }

  .text1 {
    font-family: "GmarketSans", "돋움", dotum, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #689af6;
    letter-spacing: -2px;
  }

  .text2 {
    position: relative;
    margin-top: 30px;
    padding-top: 32px;
    font-size: 22px;
    line-height: 36px;
    font-weight: 200;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      border-bottom: 2px solid #aaadb9;
    }

    .m {
      font-weight: 500;
    }

  }
}

.main_content_item03_step1_square {
  display: flex;
  flex-flow: row wrap;
  gap: 60px 30px;

  .item {
    width: calc(50% - 15px);

    img {
      // max-width: 100%;
      width: 100%;
    }

    .text {
      margin-top: 23px;
      display: flex;
      align-items: center;
      padding-left: 3px;
      font-family: "GmarketSans", "돋움", dotum, sans-serif;
      font-weight: 500;
      font-size: 30px;
      color: #555;

      .step {
        margin-right: 15px;
        padding: 0 20px;
        padding-top: 6px;
        line-height: 30px;
        border-radius: 50px;
        background-color: #251a16;

        font-weight: 700;
        font-size: 24px;
        color: #ccc;

        .num {
          font-weight: 500;
        }
      }
    }
  }
}

.msp1 {
  &:not(.swiper-initialized) {
    .swiper-wrapper {
      height: auto;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }    
}

.main_content_item03_step2 {

  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 1570px;
  margin-top: 114px;

  .left {
    flex: none;
    width: 912px;

    .thumb {
      font-size: 0;
    }
  }

  .right {
    padding-left: 65px;
    text-align: left;

    .text1 {
      font-family: "GmarketSans", "돋움", dotum, sans-serif;
      font-style: italic;
      font-weight: 500;
      font-size: 48px;
      line-height: 60px;
      color: #689af6;
      letter-spacing: -2px;
    }

    .text2 {
      position: relative;
      margin-top: 30px;
      padding-top: 32px;
      font-size: 30px;
      line-height: 40px;
      font-weight: 200;
      color: #38b0e8;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        border-bottom: 2px solid #aaadb9;
      }

      .m {
        font-weight: 700;
      }

    }

    .text3 {
      margin-top: 50px;
      font-size: 22px;
      line-height: 36px;
      font-weight: 200;

      .m {
        font-weight: 500;
      }
    }
  }
}

.main_content_item04 {
  width: 1668px;
  margin: 0 auto;
  margin-top: 140px;  
  padding: 0 50px;
  .inner {
    position: relative;
    .msp2-button {
      position: absolute;
      top: 100px;
      width: 38px;
      height: 72px;
      margin-top: 0;
      &::after {
        content: none;
      }
      &.swiper-button-prev {
        left: -50px;
        background: url(../images/icon/icon_swiper_pager_l_g.png) no-repeat center / cover;
      }
      &.swiper-button-next {
        right: -50px;
        background: url(../images/icon/icon_swiper_pager_r_g.png) no-repeat center / cover;
      }
    }
  }
  .msp2 {
    position: relative;
    width: 1518px;
    margin: 0 auto;
    overflow: hidden;
    .swiper-wrapper {
      height: auto;
      .swiper-slide {
        width: 360px;
        font-size: 0;
        img {
          width: 100%;
        }
        .text {
          padding-top: 26px;
          font-family: "GmarketSans", "돋움", dotum, sans-serif;
          font-weight: 500;
          font-size: 36px;
          line-height: 36px;
          color: #fff;
          text-align: center;
        }
      }
    }    
  }
}

.main_content_item05_department {
  margin-top: 46px;
  text-align: center;

  >.inner {
    display: inline-flex;
    padding: 0 55px;
    border-radius: 50px;
    background-color: #94b7f2;

    >span {
      position: relative;
      font-family: "GmarketSans", "돋움", dotum, sans-serif;
      font-weight: 500;
      font-size: 30px;
      line-height: 50px;
      color: #fff;

      &:not(:last-child) {
        margin-right: 40px;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: -20px;
          height: 28px;
          border-left: 2px solid #fff;
          transform: translateY(-50%);

        }
      }
    }
  }

}

.main_content_item05_doctor {
  margin-top: 70px;
  text-align: center;

  .inner {
    display: inline-flex;
    max-width: 1920px;
    margin: 0 auto;


    &:hover {
      .item {
        opacity: 0.3;

        &:hover {
          opacity: 1;

          .cover {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .item {
    position: relative;
    font-family: "GmarketSans", "돋움", dotum, sans-serif;
    text-align: center;
    transition: 0.3s;

    a {
      color: #333;

      >.who {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 70px;
        border-top: 1px solid #c0c4c4;
        font-size: 24px;
        line-height: 1;

        .name {
          padding-right: 15px;
          font-size: 36px;
        }

      }
    }

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      .cover_cont {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 50px;
        color: #fff;
        line-height: 1;

        >.who {
          font-weight: 500;
          font-size: 30px;

          .name {
            font-size: 48px;
          }
        }

        .text {
          margin-top: 22px;
          padding-bottom: 42px;
          font-weight: 300;
          font-size: 24px;
          background: url(../images/main/main_05_arrow.png) no-repeat bottom center;
        }
      }

    }
  }
}

.main_content_item06 {
  font-size: 0;
  .left {
    display: inline-block;
    vertical-align: top;
    width: 50%;

    .maparea {
      width: 100%;
      height: 650px;
      background: #ccc;
    }
  }

  .right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-left: 200px;

    .title {
      font-family: "GmarketSans", "돋움", dotum, sans-serif;
      font-weight: 500;
      font-size: 50px;
      line-height: 1;
      color: #2c74d7;

      ~ .title {
        margin-top: 36px;
      }
    }

    .time_list {
      margin-top: 40px;

      li {
        display: flex;
        font-weight: 200;
        font-size: 30px;
        line-height: 36px;

        +li {
          margin-top: 20px;
        }

        .date {
          flex: none;
          display: flex;
          justify-content: space-between;
          width: 120px;
          overflow: hidden;
          letter-spacing: normal;
        }

        .time {
          padding-left: 10px;
        }
      }

    }

    .addr {
      margin-top: 36px;
      font-size: 30px;
      line-height: 36px;
    }

    .call {
      margin-top: 40px;
    }

  }
}

/* main */

/* event */
.ev1 {
  .item.aos-animate {
    &:nth-child(2) {
      transition-delay: 0.1s;
    }

    &:nth-child(3) {
      transition-delay: 0.2s;
    }

    &:nth-child(4) {
      transition-delay: 0.3s;
    }
  }
}

/* event */

/* media */
@media screen and (max-width: 1199px) {
  .main_content {
    &.ty1,
    &.ty3,
    &.ty5 {
      .main_content_title {
        text-align: center;
        .title {
          font-size: 30px;
          line-height: 36px;
        }
        .desc {
          margin-top: 12px;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    &.ty1 {
      padding: 75px 0;
    }

    &.ty2 {
      height: auto;
      padding: 75px 0;
      background: url(../images/main/main_02_01_m.png) no-repeat center / 100% auto;

      .main_content_title {
        .title {
          font-size: 30px;

          small {
            padding-top: 10px;
            font-size: 15px;
          }
        }
      }

    }

    &.ty3 {
      padding: 75px 0;
    }

    &.ty4 {
      height: auto;
      padding-bottom: 50px;
      background: #224a81 url(../images/main/main_04_01_m.png) no-repeat top center/cover;

      .main_content_title {
        width: auto;
        padding: 234px 25px 0 25px;

        .title {
          font-size: 30px;
          line-height: 36px;
        }

        .desc {
          margin-top: 18px;
          font-size: 12px;
          line-height: 18px;
          .m {
            font-weight: 500;
          }
        }

        .more {
          margin-top: 10px;
          a {
            font-size: 11px;
            line-height: 18px;
          }
        }

      }
    }

    &.ty5 {
      padding: 75px 0;
    }

    &.ty6 {
      padding: 0;
    }


  }

  .main_content_item01 {
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
    padding: 0 8px;
    margin-top: 50px;

    .item {
      width: calc(50% - 3px);

      img {
        width: 100%;
      }

      .item_cont {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 5px 12px 5px;
        color: #fff;

        .tit {
          font-size: 15px;
          line-height: 18px;
        }

        .text {
          padding-top: 6px;
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }

  .main_content_item02 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 0;
    margin-top: 30px;

    .item {
      width: auto;
      padding-top: 80px;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 90px auto;

      .tit {
        font-size: 18px;
        line-height: 24px;
      }

      .text {
        padding-top: 10px;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  .main_content_item03_step1 {
    display: block;
    margin-top: 16px;

    .left {
      flex: none;
      width: auto;
      padding-top: 0;
      padding-right: 0;
    }

    .right {
      flex: none;
    }
  }

  .main_content_item03_step1_left {
    text-align: left;
    padding-left: 58px;
    padding-left: 0;

    .thumb {
      padding: 0 32px;
    }

    .text1 {
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }

    .text2 {
      margin-top: 8px;
      padding-top: 11px;
      font-size: 12px;
      line-height: 18px;
      text-align: center;

      &::before {
        top: 0;
        right: 20px;
        width: calc(100% - 40px);
        border-bottom: 1px solid #aaadb9;
      }

      .m {
        font-weight: 500;
      }

    }
  }

  
  // 스위퍼 처리 필요
  .msp1 {
    position: relative;
    padding: 0 50px;
    .msp1-button {
      position: absolute;
      top: 67px;
      width: 19px;
      height: 39px;
      margin-top: 0;
      &.swiper-button-prev {
        left: 22px;
        background: url(../images/icon/icon_swiper_pager_l_b.png) no-repeat center / cover;
      }
      &.swiper-button-next {
        right: 22px;
        background: url(../images/icon/icon_swiper_pager_r_b.png) no-repeat center / cover;
      }
    }
  }
  .main_content_item03_step1_square {
    flex-flow: initial;
    gap: 0;
    height: auto;
    margin-top: 48px;

    .item {
      width: 100%;

      // img {
      //   max-width: 100%;
      // }

      .text {
        justify-content: center;
        margin-top: 10px;
        padding-left: 0;
        font-size: 15px;

        .step {
          margin-right: 8px;
          padding: 0 10px;
          padding-top: 0;
          line-height: 18px;
          font-size: 12px;
        }
      }
    }
  }

  .main_content_item03_step2 {
    display: block;
    margin-top: 75px;

    .left {
      width: auto;

      .thumb {
        padding: 0 32px;
      }
    }

    .right {
      padding-left: 0;
      text-align: center;

      .text1 {
        font-size: 24px;
        line-height: 30px;
      }

      .text2 {
        margin-top: 8px;
        padding-top: 11px;
        font-size: 15px;
        line-height: 20px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 20px;
          width: calc(100% - 40px);
          border-bottom: 1px solid #aaadb9;
        }

        .m {
          font-weight: 700;
        }

      }

      .text3 {
        margin-top: 18px;
        font-size: 12px;
        line-height: 18px;

        .m {
          font-weight: 500;
        }
      }
    }
  }

  .main_content_item04 {
    width: auto;
    margin-top: 28px;
    padding: 0 40px;
    .inner {
      .msp2-button {
        top: 36px;
        width: 19px;
        height: 36px;
        // margin-top: 0;
        &::after {
          content: none;
        }
        &.swiper-button-prev {
          left: -30px;
          // background: url(../images/icon/icon_swiper_pager_l_g.png) no-repeat center / cover;
        }
        &.swiper-button-next {
          right: -30px;
          // background: url(../images/icon/icon_swiper_pager_r_g.png) no-repeat center / cover;
        }
      }
    }
    .msp2 {
      width: auto;
      .swiper-wrapper {
        .swiper-slide {
          width: 360px;
          font-size: 0;
          img {
            width: 100%;
          }
          .text {
            padding-top: 13px;
            font-size: 12px;
            line-height: 18px;
          }
        }
      }    
    }
  }

  .main_content_item05_department {
    margin-top: 22px;
    padding: 0 15px;
    text-align: center;

    >.inner {
      display: flex;
      justify-content: center;
      padding: 0;

      >span {
        padding-top: 2px;
        font-size: 12px;
        line-height: 23px;
        letter-spacing: -1px;

        &:not(:last-child) {
          margin-right: 16px;

          &::after {
            right: -9px;
            height: 11px;
            border-left: 1px solid #fff;

          }
        }
      }
    }

  }

  .main_content_item05_doctor {
    margin-top: 24px;

    .inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 34px 0;

      &:hover {
        .item {
          opacity: 1;

          &:hover {
            opacity: 1;

            .cover {
              display: none;
            }
          }
        }
      }
    }

    .item {
      a {

        >.who {
          height: auto;
          padding-top: 10px;
          font-size: 12px;
          line-height: 1;

          .name {
            position: relative;
            top: 2px;
            padding-right: 6px;
            font-size: 18px;
            line-height: 1;
          }

        }
      }
    }
  }

  .main_content_item06 {
    display: block;

    .left {
      display: block;
      width: 100%;
      .maparea {
        width: 100%;
        height: 260px;
        border-top: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        background: #ccc;
      }
    }

    .right {
      display: block;
      width: 100%;
      padding: 50px 42px;

      .title {
        font-size: 25px;

        ~.title {
          margin-top: 18px;
        }
      }

      .time_list {
        margin-top: 20px;

        li {
          font-size: 15px;
          line-height: 18px;

          +li {
            margin-top: 10px;
          }

          .date {
            width: 55px;
            font-weight: 500;
            letter-spacing: -0.5px;
          }

          .time {
            padding-left: 10px;
          }
        }

      }

      .addr {
        margin-top: 18px;
        font-size: 15px;
        line-height: 18px;
      }

      .call {
        margin-top: 20px;
      }

    }
  }





}

/* media */


/* common media */


@media screen and (max-width: 800px) {
  
}

/* common media */