/* sub */
.sub_content {
	letter-spacing: -0.025em;

	.container {
		max-width: 1520px;
		position: relative;
		margin: 0 auto;

		&:not(.row) {
			text-align: center;
		}
	}

	@include tablet {
		.container {
			padding: 0 24px;
		}
	}

	.key_visual {
		background-size: cover;
		background-position: center;

		.row {
			display: flex;
			height: 550px;
			align-items: center;
			font-family: #{$point-font};
			color: #fff;

			.key_tit {
				font-size: 60px;
				line-height: 1.2em;
				font-weight: 500;
			}

			.txt {
				font-size: 24px;
				line-height: 1.5em;
				margin-top: 1.5em;
				font-weight: 300;
			}
		}

		@include tablet {
			.row {
				padding: 50px 24px;
				height: auto;
				justify-content: center;
				text-align: center;

				.key_tit {
					font-size: 30px;
				}

				.txt {
					font-size: 12px;
				}
			}
		}
	}

	.content {
		.row {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 40px;

			.txt_wrap {
				max-width: 720px;
			}

			&.rtl .txt_wrap {
				order: 1;
			}
		}

		.half {
			display: flex;
			align-items: center;

			.txt_wrap {
				max-width: 800px;
				padding-left: 100px;
			}

			&.rtl .txt_wrap {
				order: 1;
			}
		}

		@include tablet {
			.row {
				flex-direction: column;
				gap: 0;
				height: auto !important;
				padding: 65px 0 !important;

				.txt_wrap {
					padding: 0 24px;
					max-width: 100%;
				}

				&.rtl .txt_wrap {
					order: 0;
				}
			}
		}

		.txt_wrap {
			.sub_tit {
				font-size: 20px;
				color: #56b1fe;
				font-family: #{$point-font};
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: -0.05em;
				line-height: 1.2em;

				em {
					font-size: 1.8em;
				}
			}

			.content_tit {
				// margin-top: 0.6em;
				margin-top: 40px;
				font-size: 60px;
				color: #2c74d7;
				font-family: #{$point-font};
				font-weight: 500;
				line-height: 1.2em;
				letter-spacing: -0.1em;
			}

			.txt {
				// margin-top: 1.3em;
				margin-top: 38px;
				font-weight: 300;
				font-size: 22px;
				color: #333;
				// letter-spacing: -0.025em;
				letter-spacing: -2px;
				// line-height: 1.63em;
				line-height: 36px;
			}
		}

		.img_wrap {
			display: flex;
		}

		@include tablet {
			.txt_wrap {
				.sub_tit {
					font-size: 10px;
				}

				.content_tit {
					font-size: 30px;
				}

				.txt {
					font-size: 12px;
				}
			}

			.img_wrap {
				margin-top: 60px;

				img {
					max-height: 300px;
				}
			}
		}
	}

	@include tablet {
		.content {
			text-align: center;
		}
	}

	/* 펼침메뉴 */
	[data-accordion] {
		margin-top: 35px;
		border-top: 1px solid #b8c4cb;
		text-align: left;

		.info {
			display: flex;
			position: relative;
			flex-direction: column;
			padding: 0 30px;
			border-bottom: 1px solid #b8c4cb;
			color: #0077c0;

			&:before,
			&:after {
				content: "";
				position: absolute;
				right: 23px;
				top: 36px;
				width: 16px;
				height: 4px;
				margin-top: -2px;
				background: #ccc;
			}

			&:after {
				transform: rotate(90deg);
			}

			&.on {
				background: #e5f1f9;
				color: #555;

				&:before,
				&:after {
					background: #0077c0;
				}

				&:after {
					transform: rotate(0);
				}

				button {
					&:before {
						background: #555;
					}
				}

				.detail {
					display: block;
				}
			}

			button {
				position: relative;
				text-align: left;
				font-family: #{$point-font};
				font-size: 30px;
				font-weight: 500;
				padding-left: 0.25em;
				line-height: 2.4em;
				color: inherit;

				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 50%;
					width: 4px;
					height: 4px;
					margin-top: -2px;
					background: #0077c0;
					border-radius: 50%;
				}
			}

			.detail {
				display: none;
				font-size: 22px;
				padding-bottom: 12px;
			}
		}

		@include tablet {
			.info {
				padding: 0 15px;

				&:before,
				&:after {
					content: "";
					position: absolute;
					right: 15px;
					top: 17px;
					width: 8px;
					height: 2px;
					margin-top: -1px;
				}

				button {
					font-size: 15px;

					&:before {
						width: 2px;
						height: 2px;
						margin-top: -1px;
					}
				}

				.detail {
					font-size: 12px;
					padding-bottom: 6px;
				}
			}
		}
	}

}

@include tablet {
	.sub_content {
		margin-top: 60px;

		br {
			display: none !important;
		}
	}
}

/* sub */

/* a1 */
.a1 {
	.key_visual {
		background-image: url(../images/sub/sub_kv_a.png);
	}

	.content1 {
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 150px 0;

			.main_txt {
				font-size: 130px;
				font-family: #{$point-font};
				color: #2c74d7;
				opacity: 0.15;
				text-transform: uppercase;
				margin-top: 100px;
			}

			@include tablet {
				.main_txt {
					font-size: 65px;
					margin-top: 50px;
				}
			}
		}

		@include tablet {
			.container {
				padding: 65px 24px;
			}
		}
	}

	.content2 {
		.txt_wrap {
			.content_tit {
				color: #333;
				font-size: 48px;
			}
		}

		.img_wrap {
			margin-top: 60px;
		}

		@include tablet {
			.txt_wrap {
				.content_tit {
					font-size: 24px;
				}
			}

			.img_wrap {
				margin-top: 30px;

				img {
					height: auto;
				}
			}
		}
	}

	.content3 {
		background: linear-gradient(180deg, rgb(228, 239, 253) 0%, rgb(228, 239, 253) 100%);

		.row {
			height: 840px;
		}

		.txt_wrap {
			position: relative;
			z-index: 1;

			.content_tit {
				color: #333;
				font-size: 48px;
			}
		}

		.img_wrap {
			max-width: 720px;
			position: relative;

			img {
				transform: scale(1.2);
				transform-origin: right center;
			}
		}

		@include tablet {
			.txt_wrap {
				.content_tit {
					font-size: 24px;
				}
			}

			.img_wrap {
				max-width: 100%;
				padding: 0 24px;

				img {
					transform: none;
				}
			}
		}
	}

	.content4 {
		background: #254f89;
		color: #fff;

		.row {
			height: 800px;

			.txt_wrap {
				max-width: 720px;
				margin-right: auto;
				flex: 0 1 50%;

				.sub_tit {
					color: #fff;
				}

				.content_tit {
					color: #fff;
					font-size: 48px;
				}

				.txt {
					color: #d5d5d5;
				}

				.list {
					margin-top: 30px;

					li {
						position: relative;
						font-weight: 500;
						line-height: 2.5em;
						padding-left: 2.5em;
						font-size: 22px;
						text-align: left;

						&:before {
							content: "";
							position: absolute;
							top: 27px;
							left: 0;
							width: 25px;
							height: 21px;
							margin-top: -10px;
							background: url('../../assets/images/icon/icon_check.png');
							background-size: contain;
						}
					}
				}
			}

			@include tablet {
				.txt_wrap {
					.content_tit {
						font-size: 24px;
					}

					.list {
						display: inline-flex;
						flex-direction: column;
						margin-left: auto;
						margin-right: auto;
						margin-top: 15px;

						li {
							font-size: 12px;
							padding-left: 1.5em;

							&:before {
								top: 15px;
								width: 12px;
								height: 10px;
								margin-top: -5px;
							}
						}
					}
				}
			}

			.img_wrap {
				flex: 0 1 50%;
				align-self: flex-end;

				img {
					max-width: 720px;
				}
			}
		}

		@include tablet {
			.row {
				padding-bottom: 0 !important;

				.txt_wrap {
					margin: 0 auto;
				}

				.img_wrap {
					align-self: flex-start;

					img {
						width: 90%;
					}
				}
			}
		}
	}

	.content5 {
		.row {
			height: 700px;

			.col_45 {
				display: flex;
				justify-content: flex-end;
				flex: 9;

				.txt_wrap {
					max-width: 620px;

					.content_tit {
						color: #333;
						font-size: 48px;
					}
				}

				@include tablet {
					.txt_wrap {
						.content_tit {
							font-size: 24px;
						}
					}
				}
			}

			.col_55 {
				flex: 11;

				.img_wrap {
					gap: 20px;
					justify-content: flex-end;

					img {
						width: calc(50% - 10px);
					}
				}

				@include tablet {
					.img_wrap {
						flex-wrap: wrap;
						justify-content: center;
						padding: 0 24px;

						img {
							width: auto;
						}
					}
				}
			}
		}
	}

	.content6 {
		background-image: url(../images/sub/sub_a_1_5_2.png);
		background-size: cover;
		background-position: center;

		.row {
			height: 700px;

			.txt_wrap {
				.sub_tit {
					color: #fff;
				}

				.content_tit {
					color: #fff;
					font-size: 48px;
				}

				@include tablet {
					.content_tit {
						font-size: 24px;
					}
				}

				.txt {
					color: #fff;
				}
			}

			.img_wrap {
				height: 100%;
				align-items: flex-end;

				img {
					transform: scale(1.25);
					transform-origin: bottom right;
				}
			}

			@include tablet {
				.img_wrap {
					margin-top: 0;

					img {
						transform: none;
					}
				}
			}
		}

		@include tablet {
			.row {
				padding-bottom: 0 !important;
			}
		}
	}

	.content7 {
		.container {
			padding: 150px 0;

			.list {
				display: flex;
				flex-wrap: wrap;
				margin: 150px auto 0;
				gap: 60px;
				max-width: 1320px;

				li {
					flex: 0 1 calc(50% - 30px);

					.txt_wrap {
						.list_tit {
							font-size: 35px;
							margin-top: 40px;
							font-weight: 500;
							color: #333;
							margin-top: 40px;
						}

						p {
							font-size: 25px;
							color: #555;
							margin-top: 15px;
						}
					}

					.img_wrap {
						position: relative;

						.num {
							position: absolute;
							top: 0;
							left: 0;
							width: 100px;
							line-height: 100px;
							text-align: center;
							background: #274c7f;
							font-family: #{$point-font};
							color: #fff;
							font-size: 40px;
						}
					}
				}
			}
		}

		@include tablet {
			.container {
				padding: 65px 24px;

				.list {
					margin-top: 30px;
					gap: 30px;

					li {
						flex: 0 1 100%;

						.txt_wrap {
							.list_tit {
								font-size: 18px;
								margin-top: 20px;
								margin-top: 20px;
							}

							p {
								font-size: 13px;
								margin-top: 8px;
							}
						}

						.img_wrap {
							margin-top: 0;

							.num {
								transform: scale(.5);
								transform-origin: left top;
							}

							img {
								width: 100%;
								max-height: 100%;
							}
						}
					}
				}
			}
		}
	}

	.content8 {
		.row {
			justify-content: space-between;
			padding: 100px 0;

			.txt_wrap {
				.content_tit {
					small {
						font-size: 36px;
						letter-spacing: -0.1em;
					}
				}

				.info {
					margin-top: 35px;

					.part {
						font-size: 30px;
						font-weight: 500;
					}

					.history {
						margin-top: 30px;

						li {
							font-size: 22px;
							line-height: 1.5em;
							padding: 0.3em 0;
						}
					}
				}
			}

			.img_wrap {
				position: relative;
				padding-right: 100px;

				&:before {
					content: "";
					position: absolute;
					right: 0;
					bottom: -100px;
					width: 550px;
					height: 650px;
					border: 1px solid #768ca8;
					z-index: -1;
				}
			}

			&.rtl {
				.img_wrap {
					padding-left: 100px;

					&:before {
						left: 0;
					}
				}
			}
		}

		@include tablet {
			.row {
				padding: 65px 24px !important;

				.txt_wrap {
					order: 1 !important;

					.content_tit {
						small {
							font-size: 18px;
						}
					}

					.info {
						margin-top: 18px;

						.part {
							font-size: 15px;
						}

						.history {
							margin-top: 15px;

							li {
								font-size: 12px;
							}
						}
					}
				}

				.img_wrap {
					padding: 0 !important;
					margin: 0;
					margin-bottom: 30px;

					&:before {
						display: none;
					}
				}
			}
		}
	}

	.content9 {
		.container {
			padding: 210px 0 120px;
		}

		.slide_wrap {
			margin-top: 70px;

			.mySwiper2 {
				height: 750px;
			}

			.mySwiper {
				height: 280px;
				margin-top: 30px;
			}

			.swiper-slide {
				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: all .3s;
				}
			}

			.swiper-button-next,
			.swiper-button-prev {
				color: #333;
				outline: 6px solid #fff;
				background: #fff;
			}
		}

		@include tablet {
			.container {
				padding: 0 24px;
			}

			.slide_wrap {
				margin-top: 35px;

				.mySwiper2 {
					height: 375px;
				}

				.mySwiper {
					display: none;
				}

				.swiper-button-next,
				.swiper-button-prev {
					transform: scale(.5);
				}
			}
		}
	}

	.content10 {
		.container {
			padding: 120px 0;

			.info_wrap {
				display: flex;
				margin-top: 90px;

				img {
					flex: 1;
				}

				.info {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					flex: 1;

					.list {
						position: relative;
						font-size: 30px;

						&:before {
							content: "";
							position: absolute;
							width: 1px;
							height: 90%;
							left: 160px;
							top: 50%;
							transform: translateY(-50%);
							background: #b2b2b2;
						}

						li {
							display: flex;
							line-height: 2em;

							.date {
								font-weight: 500;
								width: 110px;
								text-align: justify;

								&.spacing {
									word-spacing: 7px;
								}
							}

							.time {
								padding-left: 100px;
								font-weight: 300;

								&.spacing {
									letter-spacing: -3px;
								}
							}
						}
					}

					.tel {
						margin-top: 40px;
						gap: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-family: #{$point-font};
						font-size: 48px;
						font-weight: 500;
					}
				}
			}
		}

		@include tablet {
			.container {
				padding: 65px 24px;

				.info_wrap {
					margin-top: 45px;
					flex-direction: column;

					.info {
						margin-top: 30px;

						.list {
							font-size: 15px;

							&:before {
								left: 75px;
							}

							li {
								display: flex;
								line-height: 2em;

								.date {
									font-weight: 500;
									width: 60px;
									text-align: justify;

									&.spacing {
										word-spacing: 3px;
									}
								}

								.time {
									padding-left: 30px;

									&.spacing {
										letter-spacing: 0;
									}
								}
							}
						}

						.tel {
							margin-top: 20px;
							gap: 20px;
							font-size: 24px;

							img {
								width: 25px;
							}
						}
					}
				}
			}
		}
	}

	.content11 {
		.map_wrap {
			position: relative;
			margin-top: 70px;

			.map {
				height: 700px;
			}

			.info {
				position: absolute;
				inset: 0;
				z-index: 1;
				font-size: 24px;

				.list {
					display: flex;
					flex-direction: column;
					justify-content: center;
					position: absolute;
					right: calc(50% + 100px);
					top: 0;
					width: 660px;
					height: 100%;
					background: #b6d9ff;
					padding: 100px;
					gap: 45px;

					>li {
						.tit {
							font-weight: 500;
							color: #2c74d7;
							font-size: 36px;
						}

						.txt {
							margin-top: 15px;

							&.bus {
								>li {
									display: flex;

									span {
										font-weight: 500;
										width: 130px;
										flex-shrink: 0;
									}

									&+li {
										margin-top: 1.5em;
									}
								}
							}
						}
					}
				}
			}
		}

		@include tablet {
			.map_wrap {
				margin-top: 35px;

				.map {
					height: 350px;
				}

				.info {
					position: static;
					font-size: 12px;

					.list {
						position: static;
						width: auto;
						height: auto;
						background: #b6d9ff;
						padding: 24px;
						gap: 15px;

						>li {
							.tit {
								font-size: 18px;
							}

							.txt {
								margin-top: 5px;

								&.bus {
									>li {
										flex-direction: column;
										align-items: center;

										span {
											width: auto;
										}

										&+li {
											margin-top: .5em;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.content12 {
		background-image: url(../images/sub/sub_b_2_6.png);
		background-size: cover;
		background-position: center;

		.row {
			height: 750px;

			.txt_wrap {
				margin-right: auto;

				.content_tit {
					font-size: 50px;
				}

				.list {
					margin-top: 65px;
					text-align: left;

					li {
						font-weight: 300;
						font-size: 36px;
						line-height: 2em;
						border-bottom: 1px solid #7f7f7f;

						.tit {
							font-weight: 500;
							font-family: #{$point-font};
							color: #2c74d7;
							margin-right: 40px;
						}

						strong {
							font-weight: 500;
						}
					}
				}
			}

			@include tablet {
				.txt_wrap {
					margin: 0 auto;

					.content_tit {
						font-size: 25px;
					}

					.list {
						margin-top: 30px;

						li {
							font-size: 18px;

							.tit {
								margin-right: 20px;
							}
						}
					}
				}
			}
		}
	}
}

/* b1 */
.b1 {
	.key_visual {
		background-image: url(../images/sub/sub_kv_b.png);
	}

	.content1 {
		.row {
			height: 700px;
		}
	}

	.content2 {
		background-image: url(../images/sub/sub_b_1_2.png);
		background-size: cover;
		background-position: center;

		.row {
			height: 750px;
		}
	}

	.content3 {
		.row {
			padding: 160px 0;

			.sub_img {
				margin-top: 70px;
			}
		}
	}

	.content4 {
		background-image: url(../images/sub/sub_b_1_4_1.png);
		background-size: cover;
		background-position: center;

		.row {
			height: 650px;
			background-image: url(../images/sub/sub_b_1_4_3.png);
			background-repeat: no-repeat;
			background-position: center right -80px;

			.txt_wrap {
				margin-left: auto;

				.content_tit,
				.txt {
					color: #fff !important;
				}
			}

			.img_wrap {
				flex: 0 1 50%;
			}
		}

		@include tablet {
			.row {
				background: none;
			}
		}
	}

	.content6 {
		background-image: url(../images/sub/sub_b_1_6.png);
		background-size: cover;
		background-position: right;

		.row {
			height: 650px;

			.txt_wrap {
				margin-right: auto;

				.content_tit,
				.txt {
					color: #fff !important;
				}
			}
		}
	}

	.content7 {
		background-image: url(../images/sub/sub_b_2_6.png);
		background-size: cover;
		background-position: center;

		.row {
			height: 750px;

			.txt_wrap {
				margin-right: auto;

				.content_tit {
					font-size: 50px;
				}

				.list {
					margin-top: 65px;
					text-align: left;

					li {
						font-weight: 300;
						font-size: 36px;
						line-height: 2em;
						border-bottom: 1px solid #7f7f7f;

						.tit {
							font-weight: 500;
							font-family: #{$point-font};
							color: #2c74d7;
							margin-right: 40px;
						}

						strong {
							font-weight: 500;
						}
					}
				}
			}

			@include tablet {
				.txt_wrap {
					margin: 0 auto;

					.content_tit {
						font-size: 25px;
					}

					.list {
						margin-top: 30px;

						li {
							font-size: 18px;

							.tit {
								margin-right: 20px;
							}
						}
					}
				}
			}
		}
	}
}

/* b2 */
.b2 {
	.key_visual {
		background-image: url(../images/sub/sub_kv_b.png);
	}

	.content1 {
		background: linear-gradient(180deg, rgba(228, 239, 253, 1) 0%, rgba(228, 239, 253, 1) 100%);

		.row {
			height: 890px;
		}

		.list {
			display: flex;
			margin-top: 40px;
			gap: 25px;
		}

		@include tablet {
			.list {
				justify-content: center;
				margin-top: 30px;
				gap: 10px;

				img {
					width: 92px;
				}
			}
		}
	}

	.content2 {
		.row {
			height: 430px;
		}

		@include tablet {
			.row {
				padding-bottom: 0 !important;
			}
		}
	}

	.content3 {
		.row {
			padding: 80px 0;

			.txt_wrap {
				.content_tit {
					font-size: 50px;
					color: #333;
				}

				@include tablet {
					.content_tit {
						font-size: 25px;
					}
				}
			}

			.img_wrap {
				max-width: 720px;

				.list {
					display: flex;
					flex-wrap: wrap;

					li {
						flex: 1 1 50%;
						font-size: 0;
					}

					@include tablet {
						li {
							img {
								height: auto;
							}
						}
					}
				}

				@include tablet {
					.content_tit {
						font-size: 25px;
					}
				}
			}
		}

		@include tablet {
			.row {
				padding-bottom: 0 !important;
			}
		}
	}

	.content4 {
		background-image: url(../images/sub/sub_b_2_3_1.png);
		background-size: cover;
		background-position: center;

		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 1900px;

			.txt_wrap {

				.content_tit,
				.txt {
					color: #fff !important;
				}

				.list {
					display: flex;
					flex-wrap: wrap;
					margin-top: 100px;
					gap: 60px;
					max-width: 1320px;

					li {
						flex: 0 1 calc(50% - 30px);
						background: #a1caee;

						.txt_wrap {
							padding: 50px 15px;

							.num {
								color: #fff;
								font-family: #{$point-font};
								font-weight: 300;
								font-size: 48px;
							}

							.list_tit {
								font-size: 30px;
								font-weight: 500;
								margin-top: 20px;
							}

							p {
								font-size: 22px;
								font-weight: 300;
								margin-top: 15px;
							}

						}
					}
				}
			}
		}

		@include tablet {
			.container {
				height: auto;
				padding: 65px 24px;

				.txt_wrap {
					.list {
						margin-top: 30px;
						gap: 30px;

						li {
							flex: 0 1 100%;

							.txt_wrap {
								padding: 30px 15px;

								.num {
									font-size: 24px;
								}

								.list_tit {
									font-size: 14px;
									margin-top: 10px;
								}

								p {
									font-size: 12px;
									margin-top: 8px;
								}

							}
						}
					}
				}
			}
		}

	}

	.content5 {
		background: linear-gradient(180deg, rgb(228, 239, 253) 0%, rgb(228, 239, 253) 100%);

		.row {
			background: url('../../assets/images/sub/sub_b_2_4.png');
			background-position: right bottom;
			background-repeat: no-repeat;
			height: 850px;

			.txt_wrap {
				max-width: 100%;
				margin-right: auto;

				.list {
					margin-top: 30px;

					li {
						position: relative;
						font-weight: 500;
						line-height: 2.5em;
						padding-left: 2.5em;
						font-size: 22px;
						text-align: left;

						&:before {
							content: "";
							position: absolute;
							top: 27px;
							left: 0;
							width: 25px;
							height: 21px;
							margin-top: -10px;
							background: url('../../assets/images/icon/icon_check.png');
							background-size: contain;
						}
					}
				}

				@include tablet {
					.list {
						display: inline-flex;
						flex-direction: column;
						margin-left: auto;
						margin-right: auto;
						margin-top: 15px;

						li {
							font-size: 12px;
							padding-left: 1.5em;

							&:before {
								top: 15px;
								width: 12px;
								height: 10px;
								margin-top: -5px;
							}
						}
					}
				}
			}
		}

		@include tablet {
			.row {
				padding-bottom: 350px !important;
				background-size: 500px;
				background-position: center bottom;
			}
		}
	}

	.content6 {

		.row {
			padding: 150px 0;
		}
	}

	.content7 {
		background-image: url(../images/sub/sub_b_2_6.png);
		background-size: cover;
		background-position: center;

		.row {
			height: 750px;

			.txt_wrap {
				margin-right: auto;

				.content_tit {
					font-size: 50px;
				}

				.list {
					margin-top: 65px;
					text-align: left;

					li {
						font-weight: 300;
						font-size: 36px;
						line-height: 2em;
						border-bottom: 1px solid #7f7f7f;

						.tit {
							font-weight: 500;
							font-family: #{$point-font};
							color: #2c74d7;
							margin-right: 40px;
						}

						strong {
							font-weight: 500;
						}
					}
				}
			}

			@include tablet {
				.txt_wrap {
					margin: 0 auto;

					.content_tit {
						font-size: 25px;
					}

					.list {
						margin-top: 30px;

						li {
							font-size: 18px;

							.tit {
								margin-right: 20px;
							}
						}
					}
				}
			}
		}
	}
}

/* c1 */
.c1 {
	.key_visual {
		background-image: url(../images/sub/sub_kv_c.png);
	}

	.content1 {
		.half {
			padding: 150px 0;
			// height: 700px;
		}
	}

	.content2 {
		background-image: url(../images/sub/sub_c_1_2_1.png);
		background-size: cover;
		background-position: center;

		.row {
			height: 750px;
		}
	}

	.content3 {
		height: 800px;
		padding-left: 50%;
		background-repeat: no-repeat;
		background-image: url(../images/sub/sub_c_1_3.png);
		background-position: left center;

		.row {
			padding: 160px 0;
		}
	}

	.content4 {
		background-image: url(../images/sub/sub_b_1_4_1.png);
		background-size: cover;
		background-position: center;

		.row {
			height: 650px;
			background-image: url(../images/sub/sub_b_1_4_3.png);
			background-repeat: no-repeat;
			background-position: center right -80px;

			.txt_wrap {
				margin-left: auto;

				.content_tit,
				.txt {
					color: #fff !important;
				}
			}

			.img_wrap {
				flex: 0 1 50%;
			}
		}

		@include tablet {
			.row {
				background: none;
			}
		}
	}

	.content6 {
		background-image: url(../images/sub/sub_b_1_6.png);
		background-size: cover;
		background-position: right;

		.row {
			height: 650px;

			.txt_wrap {
				margin-right: auto;

				.content_tit,
				.txt {
					color: #fff !important;
				}
			}
		}
	}

	.content7 {
		background-image: url(../images/sub/sub_b_2_6.png);
		background-size: cover;
		background-position: center;

		.row {
			height: 750px;

			.txt_wrap {
				margin-right: auto;

				.content_tit {
					font-size: 50px;
				}

				.list {
					margin-top: 65px;
					text-align: left;

					li {
						font-weight: 300;
						font-size: 36px;
						line-height: 2em;
						border-bottom: 1px solid #7f7f7f;

						.tit {
							font-weight: 500;
							font-family: #{$point-font};
							color: #2c74d7;
							margin-right: 40px;
						}

						strong {
							font-weight: 500;
						}
					}
				}
			}

			@include tablet {
				.txt_wrap {
					margin: 0 auto;

					.content_tit {
						font-size: 25px;
					}

					.list {
						margin-top: 30px;

						li {
							font-size: 18px;

							.tit {
								margin-right: 20px;
							}
						}
					}
				}
			}
		}
	}
}

/* c4 */
.c4 {
	.key_visual {
		background-image: url(../images/sub/sub_kv_d.png);
	}

	.content1 {
		.row {
			@include tablet {
				padding-bottom: 0 !important;
			}
		}
	}

	.content2 {
		background-image: url(../images/sub/sub_c_4_2.png);
		background-size: cover;
		background-position: center;

		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 1250px;

			.txt_wrap {

				.content_tit,
				.txt {
					color: #fff !important;
				}

				.list {
					display: flex;
					flex-wrap: wrap;
					max-width: 1420px;
					gap: 40px;
					margin-top: 65px;

					li {
						flex: 0 1 calc(33.33% - 27px);
						background: rgba(255, 255, 255, .6);
						padding: 30px;

						.num {
							font-family: #{$point-font};
							font-weight: 300;
							font-size: 48px;
							color: #fff;
							letter-spacing: -0.1em;
						}

						.list_tit {
							font-size: 30px;
							font-weight: 500;
							margin-top: 20px;
						}

						p {
							font-size: 22px;
							font-weight: 300;
							margin-top: 15px;
						}
					}
				}

				@include tablet {
					.list {
						gap: 30px;

						li {
							flex: 0 1 calc(50% - 15px);

							.num {
								font-size: 24px;
							}

							.list_tit {
								font-size: 15px;
								margin-top: 10px;
							}

							p {
								font-size: 12px;
								margin-top: 8px;
							}
						}
					}
				}
			}
		}

		@include tablet {
			.container {
				height: auto;
				padding: 65px 24px;
			}
		}
	}

	.content3 {
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 900px;

			.txt_wrap {
				width: 100%;

				.list {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					margin-top: 90px;

					li {
						display: flex;
						flex-direction: column;
						font-size: 24px;
						align-items: center;

						.cover {
							display: flex;
							height: 90px;
							justify-content: center;
							align-items: center;
						}

						i {
							width: 12px;
							height: 12px;
							border: 2px solid #333;
							border-radius: 50%;
							margin: 50px 0 45px;
						}

						.num {
							color: #2c74d7;
							margin-bottom: 15px;
						}
					}
				}

				@include tablet {
					.list {
						margin-top: 30px;
						gap: 15px;

						li {
							width: calc(33.33% - 10px);
							font-size: 12px;

							.cover {
								height: 45px;

								img {
									height: 45px;
								}
							}

							i {
								width: 6px;
								height: 6px;
								margin: 25px 0 22px;
							}

							.num {
								margin-bottom: 8px;
							}
						}
					}
				}

			}
		}

		@include tablet {
			.container {
				height: auto;
				padding: 65px 24px;
			}
		}
	}

	.content4 {
		background-image: url(../images/sub/sub_c_4_4.png);
		background-size: cover;
		background-position: center;

		.row {
			height: 800px;

			.txt_wrap {
				margin-right: auto;

				.list {
					margin-top: 30px;

					li {
						position: relative;
						font-weight: 500;
						line-height: 2.5em;
						padding-left: 2.5em;
						font-size: 22px;
						text-align: left;

						&:before {
							content: "";
							position: absolute;
							top: 27px;
							left: 0;
							width: 25px;
							height: 21px;
							margin-top: -10px;
							background: url('../../assets/images/icon/icon_check.png');
							background-size: contain;
						}
					}
				}

				@include tablet {
					.list {
						display: inline-flex;
						flex-direction: column;
						margin-left: auto;
						margin-right: auto;
						margin-top: 15px;

						li {
							font-size: 12px;
							padding-left: 1.5em;

							&:before {
								top: 15px;
								width: 12px;
								height: 10px;
								margin-top: -5px;
							}
						}
					}
				}
			}
		}
	}

	.content5 {

		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 1230px;

			.list {
				display: flex;
				gap: 40px;
				margin-top: 65px;

				li {
					display: flex;
					flex-direction: column;
					flex: 1;
					font-size: 25px;
					color: #555;

					.tit {
						font-size: 35px;
						font-weight: 500;
						color: #333;
						margin: 40px 0 10px;
					}
				}
			}

			@include tablet {
				.list {
					flex-direction: column;
					gap: 30px;
					margin-top: 30px;

					li {
						font-size: 13px;

						.tit {
							font-size: 18px;
							margin: 20px 0 5px;
						}
					}
				}
			}

		}

		@include tablet {
			.container {
				height: auto;
				padding: 65px 24px;
			}
		}
	}

	.content6 {

		.row {
			padding: 150px 0;
		}
	}

	.content7 {
		background-image: url(../images/sub/sub_b_2_6.png);
		background-size: cover;
		background-position: center;

		.row {
			height: 750px;

			.txt_wrap {
				margin-right: auto;

				.content_tit {
					font-size: 50px;
				}

				.list {
					margin-top: 65px;
					text-align: left;

					li {
						font-weight: 300;
						font-size: 36px;
						line-height: 2em;
						border-bottom: 1px solid #7f7f7f;

						.tit {
							font-weight: 500;
							font-family: #{$point-font};
							color: #2c74d7;
							margin-right: 40px;
						}

						strong {
							font-weight: 500;
						}
					}
				}
			}

			@include tablet {
				.txt_wrap {
					margin: 0 auto;

					.content_tit {
						font-size: 25px;
					}

					.list {
						margin-top: 30px;

						li {
							font-size: 18px;

							.tit {
								margin-right: 20px;
							}
						}
					}
				}
			}
		}
	}
}